.btn {
    width: 200px;
    height: 56px;
}

.media-custom-btn {
    display: block;
    margin: 0 auto;
}

.btn-custom-color:hover {
    color: #fff !important;
}

@media(min-width: 720px){
    .media-custom-btn {
        margin: 0;
    }
}

.border-none {
    border: none;
}

.custom-button:hover {
    cursor: pointer;
    color: #fff !important;
    background-color: $main-blue !important;
}
